<div class="col-md-6 offset-md-3">
  <% if @result.nil? || @result["status"] != 200 %>
    <h2 class="text-center">エリア検索</h2>  
      <%= form_with method: :get, local: true do |form| %>
          <%= form.label "郵便番号で検索" %>
          <%= form.text_field :zipcode, class: "form-control" %>
        <%= form.submit "検索", class: "btn btn-primary btn-block" %>
      <% end %>
    <% elsif @result["status"] == 200 %>
      <h2 class="text-center">エリア登録</h2>   
        <%= form_with model: @area, local: true, url: '/areas/search' do |form| %>
          <%= form.label :zipcode %>
          <%= form.text_field :zipcode, value: @area.zipcode, class: "form-control", readonly: true %>
          <%= form.label :prefcode %>
          <%= form.text_field :prefcode, value: @area.prefcode, class: "form-control", readonly: true %>
          <%= form.label :address1 %>
          <%= form.text_field :address1, value: @area.address1, class: "form-control", readonly: true %>
          <%= form.label :kana1 %>
          <%= form.text_field :kana1, value: @area.kana1, class: "form-control", readonly: true %>
          <%= form.label :address2 %>
          <%= form.text_field :address2, value: @area.address2, class: "form-control", readonly: true %>
          <%= form.label :kana2 %><br>
          <%= form.text_field :kana2, value: @area.kana2, class: "form-control", readonly: true %>
          <%= form.label :address3 %><br>
          <%= form.text_field :address3, value: @area.address3, class: "form-control", readonly: true %>
          <%= form.label :kana3 %><br>
          <%= form.text_field :kana3, value: @area.kana3, class: "form-control", readonly: true %>
          <%= form.label :introduction %><br>
          <%= form.text_area :introduction, class: "form-control" %>
          <%= form.submit "登録する", class: "btn btn-primary btn-block" %>
        <% end %>
    <% end %>
</div>